.cal-header {
  display: flex;
  justify-content: space-between;
  font-size: 2.6rem;
}

.cal-content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.cal-date {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
}

.text-center {
  display: flex;
  justify-content: center;
}

.cal-dot {
  padding-bottom: 1rem;
}

.cal-dot-hide {
  color: white;
}
